@use './variables' as *;

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

	
  padding: 0;
  box-sizing: border-box;
}



.container {
  max-width: 1000px;
//   background-color: rgb(28, 28, 28);
  margin: 0 auto;
}


h2 {
  display: inline-block;
  background-color: rgb(28, 28, 28);
  ; 

  padding: 6px 24px;

  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;

  transform: translateY(-50%);

}

// .btn-primary {
//   background-color: rgb(2, 130, 249);
//   border-color: var(--menu-active);

//   padding: 8px 48px;

//   font-family: 'Barlow Condensed', sans-serif;
//   font-weight: bold;
//   font-size: 1.1em;
//   text-transform: uppercase;
// }