* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* colours */
:root {
  --menu-active: rgb(2, 130, 249);
  --menu-text: rgb(107, 109, 114);
  --color-footer:rgb(48, 48, 48) ;
  --footer-menu-text: rgb(121, 121, 121);
}

/* font */
body {
  font-family: sans-serif;
}

